.blank-17_5pe{
    width: 100%;
    height: 17.5%;
}
.blank-10pe{
    width: 100%;
    height: 10%;
}
.w100{
    width: 100%;
}
.flex-ccr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.ban-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}